<% include ./partials/header1 %> 
<section class="introVideo">
    <video autoplay muted loop id="timeLapse">
        <source src="videos/landing.mp4" type="video/mp4">
    </video>
    <div class="overlay">
        <h1 class="text">Andrea's Comics</h1>
        <a href="/index" class="btn btn-lg btn-link">Enter Here</a>
    </div>
</section>

<% include ./partials/footer %>